@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	background-color: #fff;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    display: block;
    width: 100%;
}

.content {
    width: 90%;
    margin: 0 auto;
}


.text-center {
    text-align: center;
}

.main-header {
    background-color: darkcyan;
    padding: 20px 0;
    color: #fff;
}

.shelves {
    margin: 40px 0;
}

.shelf-container {
    margin-bottom: 20px;
}

.shelf-container h2 {
    border-bottom: 1px solid green;
}

.book-container {
    margin: 20px 0;
}

.book-container h3 {
    display: none;
}

.book-container {
    width: 49%;
    margin-right: 1%;
}

.book-content {
    position: relative;
}

.book-content select {
    position: absolute;
    left: 0;
}